#tinymce {
	font-family: 'Droid Sans', Arial, sans-serif;
	font-size: 14px;
	}

blockquote {
	background: transparent url(images/quote.png) no-repeat scroll 0 0;
	margin: 5px 0 5px 0;
	padding: 10px 15px 10px 60px;
}

#tinymce h1, #tinymce h2, #tinymce h3, #tinymce h4 {
	padding: 5px 5px 2px 0;
	font-family: 'Droid Sans', Arial, 'sans serif';
	font-weight: normal;
}

#tinymce h1 {
	font-size:20px;
	margin-top: 25px;
	margin-bottom: 10px;
}
	
#tinymce h2 {
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 8px;
}
	
#tinymce h3 {
	font-size:16px;
	margin-top: 15px;
	margin-bottom: 5px;
}
	
#tinymce h4 {
	font-size:14px;
	margin-top: 5px;
}

#tinymce .wp-caption {
	border-radius: none;
}
